<div class="form__container">
  <p>
    <a mat-button routerLink="/home" color="accent">
      <mat-icon>keyboard_arrow_left</mat-icon>
      Home
    </a>
  </p>
  <mat-card class="form__card mat-elevation-z3 animated fadeInRight">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
      <div class="form__title">
        <mat-card-header>
          <mat-card-title>MyClients app </mat-card-title>
          <mat-card-subtitle>LOGIN</mat-card-subtitle>
        </mat-card-header>
      </div>

      <mat-card-content class="form__body">
        <mat-form-field class="form__item" appearance="outline">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            placeholder="Enter yor email"
            formControlName="email"
          />
          <mat-error>
            {{ loginForm.controls.email.errors | errors }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form__item" appearance="outline">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            placeholder="Enter your password"
            formControlName="password"
          />
          <mat-error>
            {{ loginForm.controls.password.errors | errors }}
          </mat-error>
        </mat-form-field>
      </mat-card-content>

      <div class="form__item">
        <mat-card-actions class="form__actions">
          <div class="actions__links">
            <a mat-button>Forgot password??</a>
          </div>

          <button
            class="actions__button"
            [disabled]="loading"
            mat-raised-button
            color="primary"
            type="submit"
          >
            Login
            <mat-icon>login</mat-icon>
          </button>
        </mat-card-actions>
      </div>
    </form>
  </mat-card>

  <p class="change__sign">
    <button mat-stroked-button routerLink="/auth/signup" class="btn-block">
      Register Here !!
    </button>
  </p>
</div>
