<div class="mynav">
  <button
    class="button1 mat-elevation-z2"
    (click)="openLink($event)"
    mat-fab
    routerLink="/admin/dashboard/customers/new"
  >
    <mat-icon>person</mat-icon>
  </button>
  <button
    class="button2 mat-elevation-z2"
    (click)="openLink($event)"
    mat-fab
    routerLink=""
  >
    <mat-icon>article</mat-icon>
  </button>
  <button
    class="button3 mat-elevation-z2"
    (click)="openLink($event)"
    mat-fab
    routerLink=""
  >
    <mat-icon>directions_car</mat-icon>
  </button>
</div>
