.table-container {
  width: 92%;
  margin: 0 auto;
  padding-top: 1rem;
  overflow: hidden;
}
// table {
//   width: 100%;
// }
.overflow {
  overflow-x: auto;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  min-width: 100px;
  width: 25%;
  text-align: center;
}
th.mat-header-cell {
  text-align: center;
}
