<a class="link btn-block" mat-stroked-button routerLink="/admin/dashboard">
  <mat-icon>home</mat-icon>
  <span class="btn-text">Main</span>
</a>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Customers </mat-panel-title>
    </mat-expansion-panel-header>
    <app-verticalnav></app-verticalnav>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Cars </mat-panel-title>
    </mat-expansion-panel-header>
    <app-verticalnav></app-verticalnav>
  </mat-expansion-panel>
</mat-accordion>
