<mat-drawer-container
  class="drawer__container"
  [ngClass]="{
    'drawer__container-60': !sideVisible
  }"
>
  <!--  SideNav  -->
  <mat-drawer class="drawer__side" mode="side" [opened]="sideVisible" #drawer>
    <app-expansion></app-expansion>
  </mat-drawer>

  <!--  Content  -->
  <mat-drawer-content class="drawer__content">
    <app-header></app-header>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<!--  Outsided footer  -->
<app-footer *ngIf="!sideVisible"></app-footer>
