<mat-list>
  <small mat-subheader class="btn-text"> Customers section </small>
  <mat-list-item
    class="btn-actions"
    matRipple
    routerLink="/admin/dashboard/customers"
  >
    <div class="icon"><mat-icon>person</mat-icon></div>
    <div class="text">
      <h4 matLine class="list-item__title">Main board</h4>
      <p matLine class="list-item__text">
        This is the main board for customers
      </p>
    </div>
  </mat-list-item>
  <mat-list-item
    class="btn-actions"
    matRipple
    routerLink="/admin/dashboard/customers/new"
  >
    <div class="icon"><mat-icon>person_add</mat-icon></div>
    <div class="text">
      <h4 matLine class="list-item__title">New Client</h4>
      <p matLine class="list-item__text">
        This is the main board for customers
      </p>
    </div>
  </mat-list-item>
  <mat-list-item>
    <button mat-flat-button>
      <mat-icon>edit</mat-icon>
      <span class="btn-text">Edit</span>
    </button>
  </mat-list-item>
  <mat-list-item>
    <button mat-flat-button>
      <mat-icon>delete</mat-icon>
      <span class="btn-text">Delete</span>
    </button>
  </mat-list-item>

  <mat-divider></mat-divider>

  <small mat-subheader class="btn-text"> Cars section </small>
  <mat-list-item
    class="btn-actions"
    matRipple
    routerLink="/admin/dashboard/cars"
  >
    <div class="icon"><mat-icon>directions_car</mat-icon></div>
    <div class="text">
      <h4 matLine class="list-item__title">Main board</h4>
      <p matLine class="list-item__text">This is the main board for cars</p>
    </div>
  </mat-list-item>
  <mat-list-item>
    <button mat-flat-button>
      <mat-icon>edit</mat-icon>
      <span class="btn-text">Edit</span>
    </button>
  </mat-list-item>
  <mat-list-item>
    <button mat-flat-button>
      <mat-icon>delete</mat-icon>
      <span class="btn-text">Delete</span>
    </button>
  </mat-list-item>

  <mat-divider></mat-divider>

  <small mat-subheader class="btn-text"> Operations section </small>
  <mat-list-item
    class="btn-actions"
    matRipple
    routerLink="/admin/dashboard/operations"
  >
    <div class="icon"><mat-icon>article</mat-icon></div>
    <div class="text">
      <h4 matLine class="list-item__title">Main board</h4>
      <p matLine class="list-item__text">
        This is the main board for operations
      </p>
    </div>
  </mat-list-item>
  <mat-list-item>
    <button mat-flat-button>
      <mat-icon>edit</mat-icon>
      <span class="btn-text">Edit</span>
    </button>
  </mat-list-item>
  <mat-list-item>
    <button mat-flat-button>
      <mat-icon>delete</mat-icon>
      <span class="btn-text">Delete</span>
    </button>
  </mat-list-item>

  <mat-divider></mat-divider>
</mat-list>
